app:
    logger:
        - console
        - file

    cloudflare:
        record_details:
            type: TXT
            name: example.com
            content: 127.0.0.1
            ttl: 1
            proxied: false

services:
    ip:
        service: https://api.ipify.org?format=json
        interval: 10000

    cloudflare:
        account:
        api_key:
        zone_id:

    logger:
        console:
            colorize: true
            timestamp: true

        file:
            filename: "log/log-"
            datePattern: "yyyy-MM-dd.log"
